.rcorner {
    border-radius: 10px;
    border: 1px solid #a0aec0;
    padding: 20px;
}

.cursor {
    cursor: pointer;
}

.scroll {
    height: 500px;
    overflow-y: scroll;
}

img {
    margin-bottom: 5px;
}
